# SPDX-FileCopyrightText: Nicolas DE GHESELLE <nicolas@degheselle.fr>
# SPDX-License-Identifier: AGPL-3.0-or-later
.idea
*.iml
/vendor/
/build/
node_modules/
/.php_cs.cache
js/*hot-update.*
js/*.js
js/*.map