.text-primary-light {
    color: var(--color-primary-light-text);
}
.text-success {
    color: var(--color-success);
}
.text-light {
    color: var(--color-placeholder-dark)
}

.flex-container {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.modal__content {
    min-height: 10rem;
    padding: 1rem;
}

/** Simple list **/
.simple-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.simple-list .simple-item {
    border-top: 1px solid var(--color-background-dark);
    padding: 0.6rem;
}
.simple-list .simple-item:hover {
    background-color: var(--color-background-hover);
}
.simple-list .simple-item.active {
    background-color: var(--color-background-hover);
}

.simple-list .simple-link {
    display: block;
}
.simple-list .simple-link:hover {
      background-color: var(--color-background-hover);
}
.description {
    color: var(--color-text-lighter);
}

/** grid **/

.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: 100%;
}

.col-6 {
    width: 50%;
}

@media (max-width: 991.98px) {
    .col-md-12 {
        min-width: 100%;
    }
}